    image: {{.ProvideParams.imageName.Value}}
    ports: 
      - "{{.ProvideParams.port.Value}}:{{.ProvideParams.port.Value}}"
      {{- if gt (len .Uses) 0}}
    environment:
      {{- end}}
      {{- range $usesKey, $usesValue := .Uses }}
        {{- range $parmsKey, $parmsValue := $usesValue.Params}}
      {{$parmsKey}}: {{$parmsValue.Value}}
        {{- end}}
      {{- end}}
